@use 'variables' as v;

@mixin telefono{
    @media (min-width: v.$telefono){
       @content;
    }
}

@mixin tablet{
    @media (min-width: v.$tablet){
        @content; //Permite que el añadir codigo sea dinamico.

    }
}

@mixin desktop{
    @media (min-width: v.$desktop){
        @content; //Permite que el añadir codigo sea dinamico.

    }
}

@mixin contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

@mixin grid($colunms,$gap : 5rem) { //En caso de que no se pase un valor al parametro de gap se le coloca 5rem por Default
    display: grid;
    grid-template-columns: repeat($colunms, 1fr);
    gap: $gap;
    align-items: center;
}